<p-panel header="Setting">
    <div class="grid">
        <div class="col-12 md:col-2">
            <label for="notify">Email To Notify:</label>
        </div>
        <div class="col-12 md:col-10">
            <input id="notify" placeholder="Enter an Email Address" type="email" />
        </div>
        <div class="col-12 md:col-2">
            <label for="backup">Force Backup:</label>
        </div>
        <div class="col-12 md:col-10">
            <button id="backup">Backup System Now</button>
        </div>
        <div class="col-12 md:col-2">
            <label for="statistic">Uptime Stats:</label>
        </div>
        <div class="col-12 md:col-10">
            <div id="statistic" class="grid">
                <div class="icon col-12 md:col-5">
                    <i class="pi pi-cloud-download" style="font-size: 80px"></i>
                </div>
                <div class="data col-12 md:col-7">
                    <div class="value">20</div>
                    <div class="label">Days Uptime</div>
                </div>
            </div>
        </div>
    </div>
</p-panel>