<div class="grid" *ngIf="!isScreenSmall; else smallScreen">
    <div class="col-12">
        <div class="card">
            <div class="flex justify-content-center flex-wrap card-container blue-container">
                <div class="flex align-items-center justify-content-center">
                    <h2>Angular Demo Application (V18)</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #smallScreen>
    <div class="grid">
        <div class="col-2">
            <p-sidebar [(visible)]="displayMenu">
                <common-menu></common-menu>
            </p-sidebar>
            <button pButton type="button" icon="pi pi-bars" class="p-button-rounded"
                (click)="displayMenu=true"></button>
        </div>
        <div class="col-10">
            <div class="card">
                <div class="flex justify-content-center flex-wrap card-container blue-container">
                    <div class="flex align-items-center justify-content-center">
                        <h2>Angular Demo Application (V18)</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>